<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(LOCATEDO_GOOGLE_URL_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<false/>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_STORAGE</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_USER_DATA</key>
	<false/>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_ANALYTICS_STORAGE</key>
	<false/>
	<key>LocateDoAPIBaseURL</key>
	<string>$(LOCATEDO_API_BASE_URL)</string>
	<key>LocateDoAPSEnvironment</key>
	<string>$(APS_ENVIRONMENT)</string>
	<key>LocateDoAppGroup</key>
	<string>$(LOCATEDO_APP_GROUP)</string>
	<key>LocateDoAppStatusURL</key>
	<string>$(LOCATEDO_APP_STATUS_URL)</string>
	<key>LocateDoConfiguration</key>
	<string>$(CONFIGURATION)</string>
	<key>LocateDoGoogleClientID</key>
	<string>$(LOCATEDO_GOOGLE_CLIENT_ID)</string>
	<key>LocateDoGoogleServerClientID</key>
	<string>$(LOCATEDO_GOOGLE_SERVER_CLIENT_ID)</string>
	<key>LocateDoRevenueCatAPIKey</key>
	<string>$(LOCATEDO_REVENUECAT_API_KEY)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
