# App
ENV=development
MODULE_ROOT=${PWD}

# Database
DATABASE_URL=postgres://admin:password@127.0.0.1:5432/locatedo?sslmode=disable
DATABASE_WRITER_URL=postgres://locatedo_writer:password@127.0.0.1:5432/locatedo?sslmode=disable
DATABASE_READER_URL=postgres://locatedo_reader:password@127.0.0.1:5432/locatedo?sslmode=disable
